.l-slider {
  max-width: 100%;
}

/*=== STYLES ===*/
body {
  font-family: 'Helvetica', 'Arial', Sans-serif;
  font-weight: 400;
}

em {
  font-style: none;
}

h2 {
  width: 100%;
  display: inline-block;
}

.s-contact-info a, .s-contact-info a:hover, .s-contact-info a:visited {
  font-size: .85em;
  text-decoration: none;
  color: white;
}

.hero-text-padding {
  padding: 11em 5% 15em 5%;
}

.b-orange,
.b-orange-first {
  background-color: #fd6632;
  color: white;
}

.b-black {
  background-color: #252629;
  color: white;
}

.s-portfolio-filter-links {
  width: 60%;
  margin: .3em auto;
}

.s-portfolio-filter-links:hover {
  background-color: #fd6632;
  color: white;
}

.f-light {
  font-weight: 300;
}

.f-bold {
  font-weight: 700;
}

.f-font-paragraph {
  font-size: 1em;
}

.f-large {
  font-size: 2em;
}

.f-small-line-height {
  line-height: .5;
}

.f-price {
  font-weight: 400;
  font-size: .75em;
  text-transform: uppercase;
}

.f-team {
  font-size: 1.5em;
  line-height: .1;
  margin: .5em 0;
}

.f-client {
  color: #fd6632;
}

.logo {
  background-color: #fd6632;
  padding: 1rem 1.5rem;
  border-radius: 50%;
  margin: 0 auto;
}

.logo:hover {
  background-color: #0b9ce0;
}

.underline {
  border-bottom: solid 2px #fd6632;
}

.slider {
  display: block;
}

.slider-break {
  display: none;
}

.s-theme-author {
  text-decoration: none;
  color: #fd6632;
}

.s-theme-author:hover {
  color: #0b9ce0;
}

/*=== BREAKPOINTS ===*/
@media only screen and (min-width: 667px) {

  h1 {
    font-size: 2.4em;
    padding: 0 10% 10% 10%;
  }

  .slider-break {
    display: block;
    width: 100%;
  }

  .slider {
    display: none;
  }


  .hero-image {
    background-image: url("/img/Background.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
  }

  .s-hero-text {
    padding: 0 .5em;
    font-size: 3.25em;
    line-height: 1.5;
  }

  .portfolio-filter-links {
    display: inline-block;
    width: auto;
    padding: 1%;

  }

 .portfolio-filter-links:hover {
   background-color: #fd6632;
   color: white;
 }

  .f-team {
    font-size: 1.5em;
    line-height: 1;
    padding: 0%;
    margin-top: 1%;
    margin-bottom: 1%;
  }

  .l-contact-txt {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
  }
