/*Layout*/
<meta name="viewport" content="width=device-width" />

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/*general site layout*/
.l-navbar {
  display: none;
}

.l-icon-outer {
  position: relative;
  margin: auto;
  border-radius: 50%;
  border: 0%;
  height: 150px;
  width: 150px;
  background-color: orange;
}
.l-droplet-icon {
  position: absolute;
  left: 50px;
  top: 50px;
  margin: auto;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  -webkit-transform:rotate(-45deg);
  z-index: 99;
  background: white;
}
.l-droplet-icon-interior {
  position: absolute;
  left: 5px;
  top: 5px;
  margin: auto;
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  z-index: 150;
  background: orange;
}

ul {
  list-style-type: none;
}

/*Section-specific layout*/
.l-home-spacer {
  height: 4em;
}
.l-home-text {
  font-size: 2.5em;
  font-weight: lighter;
  margin: auto;
  width: auto;
  text-align: center;
  font-family: "Droid sans";
}
.l-pricing-tables {
  margin-bottom: 0%;
}
h1 {
  font-size: 64px;
}
h2 {
  font-size: 50px;
}
h3 {
  font-size: 36px;
}
p {
  font-size: 28px;
}
footer h1{
  margin: 0px;
}

/*Presentation*/
/*general site presentation*/
body { /*default font white helvetica*/ }
.p-divet { 
  width: 0; 
  height: 0;
  border-top: 20px solid orange;
  border-left: 80px solid transparent; 
  border-right: 80px solid transparent; 
  margin: auto;
}
.p-title-line {
  height: 2px;
  width: 35%;
  margin: 5%;
  background-color: white;
}
.l-title {
  position: relative;
  margin: auto;
  text-align: center;
  opacity: 100%;
  font-family: Helvetica;
  color: white;
  display: inline-block;
}

.p-navbar {}
h1 .l-title { /*default white*/ }
h2 .l-title { /*default white*/ }

/*Section-specific presentation*/

.p-home {
  font-family: Helvetica;
}

.p-droplet-icon {}
.p-home {}
.p-home u{
  color: orange;
}

.p-services {
  background-color: orange;
  font-family: "Droid sans";
  color: white;
  text-align: center;
  font-size: 1em;
}
.p-services .p-divet {
    border-top: 20px solid white;
}
.p-services ul {}
.p-services h2 {
  font-size: 3em;
}
p.services p {

}
.p-services .l-icon-outer {
  background-color: white;
}
.p-services figcaption {
  margin: auto;
  width: 50%;
  font-size: 2em;
}
.p-pricing-tables {
  font-family: "Lato";
  font-size: 2.5em;
  margin-top: 0%;
  margin-bottom: 0%;
  margin-left: 10%;
  margin-right: 10%;
  background-color: white;
  color: black;
  padding-left: 0%;
}
.p-pricing-tables li:first-child {
  background-color: #7f331b;
  font-family: "Droid sans";
  font-weight: bolder;
  color: white;
}
.p-pricing-tables li:nth-child(2) {
  color: orange;
  font-family: "Droid sans";
  font-weight: bolder;
}
.p-pricing-tables div:last-child {
  height: 2em;
  background-color: #be4c27;
  padding-top: .75em;
}
.p-pricing-tables button {
  background-color: orange;
  color: white;
  font-size: .75em;
}
.p-pricing-tables button:hover {
background-color: #7f331b;
color: orange;
}
.p-pricing-tables button:active {
color: orange;
border: solid black 3px;
}

.p-about {
  color: white;
  background-color: black;
}
.p-about .p-divet {
  border-top: 20px solid white;
}

.team {}
.p-team .p-divet {
  border-top: 20px solid black;
}

.p-contact {
  background-color: orange;
}
.p-contact .p-divet {
  border-top: 20px solid white;
}

@media only screen and (min-width: 568px) {
.l-navbar {
  display: inline;
}
.l-home-spacer {
  height: 12em;
}
.l-upper-columns {}

}