/*Layout*/
<meta name="viewport" content="width=device-width" />

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/*general site layout*/
.port-navbar {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  align-items: center;
  margin-left: 30%;
  margin-right: 30%;
}

.port-navbar a {
  font-size: 1em;
  font-family: Helvetica;
  text-decoration: none;
  color:#a3a3a3;
}
.port-navbar a:hover {
  background-color: red;
}

.icon-menu{
    display:inline-block;
  }

nav ul, nav:active ul {
  display: none;

}

nav li {
  text-decoration: none;
  text-align: left;
  width: 100%;
  padding: 10px 0;
  }

nav:hover ul {

    display: block;

  }

.l-icon-outer {
  position: relative;
  margin: auto;
  border-radius: 50%;
  border: 0%;
  height: 75px;
  width: 75px;
  background-color: orange;
}
.l-droplet-icon {
  position: absolute;
  left: 25px;
  top: 25px;
  margin: auto;
  width: 25px;
  height: 25px;
  overflow: hidden;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  -webkit-transform:rotate(-45deg);
  z-index: 99;
  background: white;
}
.l-droplet-icon-interior {
  position: absolute;
  left: 2.5px;
  top: 2.5px;
  margin: auto;
  width: 20px;
  height: 20px;
  overflow: hidden;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  z-index: 150;
  background: orange;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

/*Section-specific layout*/
.l-home-spacer {
  height: 4em;
}
.l-home-text {
  font-weight: lighter;
  margin: auto;
  width: auto;
  text-align: center;
  font-family: "Droid sans";
}
.l-pricing-tables {
  margin-bottom: 0%;
}

h2 {
  font-size: 1.6em;
}
h3 {
  font-size: 1.0em;
}
p {
  font-family: Helvetica;
  font-size: 1em;
}
footer h1{
  margin: .9px;
}

/*Presentation*/
/*general site presentation*/
body { /*default font white helvetica*/ }
.p-divet {
  width: 0;
  height: 0;
  border-top: 20px solid orange;
  border-left: 80px solid transparent;
  border-right: 80px solid transparent;
  margin: auto;
}

.p-title-line{
    border-bottom: 1px white solid;
    width: 25%;
}

.p-title {
  text-transform: uppercase;
  padding-left: 4%;
  padding-right: 4%;
}

.l-title{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.p-navbar {}
h1 .l-title { /*default white*/ }
h2 .l-title { /*default white*/ }

/*Section-specific presentation*/

.p-home {
  font-family: Helvetica;
}

.p-droplet-icon {}
.p-home {}
.p-home u{
  color: orange;
}

.p-services {
  background-color: orange;
  font-family: "Droid sans";
  color: white;
  text-align: center;
  font-size: 1em;
}
.p-services .p-divet {
    border-top: 20px solid white;
}
.p-services ul {}
.p-services {

}
p.services p {

}
.p-services .l-icon-outer {
  background-color: white;
}
.p-services figcaption {
  margin: auto;
  width: 100%;
  font-size: 1em;
}
.p-pricing-tables {
  font-family: "Lato";
  font-size: 2.5em;
  margin-top: 0%;
  margin-bottom: 0%;
  margin-left: 10%;
  margin-right: 10%;
  background-color: white;
  color: black;
  padding-left: 0%;
}
.p-pricing-tables li:first-child {
  background-color: #7f331b;
  font-family: "Droid sans";
  font-weight: bolder;
  color: white;
}
.p-pricing-tables li:nth-child(2) {
  color: orange;
  font-family: "Droid sans";
  font-weight: bolder;
}
.p-pricing-tables div:last-child {
  height: 2em;
  background-color: #be4c27;
  padding-top: .75em;
}
.p-pricing-tables button {
  background-color: orange;
  color: white;
  font-size: .75em;
}
.p-pricing-tables button:hover {
background-color: #7f331b;
color: orange;
}
.p-pricing-tables button:active {
color: orange;
border: solid black 3px;
}

/*-- About Section --*/

.l-upper-columns p{
  text-align: center;
}

.p-about {
  color: white;
  background-color: black;
}

.l-about-bars{
  display:flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
}

.l-about-bars li{
  padding-top: .5em;
}

 /* Reset the default appearance from CSS tricks */
progress[value] {
  -webkit-appearance: none;

  width: 250px;
  height: 20px;
}

progress::-webkit-progress-bar {
  background: gray;
}

progress::-webkit-progress-value {
  background: #fd6632;
}

.team {}
.p-team .p-divet {
  border-top: 20px solid black;
}

.p-contact {
  background-color: orange;
}
.p-contact .p-divet {
  border-top: 20px solid white;
}


@media only screen and (min-width: 568px) {


.icon-menu{
  display: none;
}

  .icon-list{
  display: none;
}

nav ul {
  list-style: none;
  display: inline;
}

nav ul, nav:active ul {
  display: inline-block;
  float: left;
}

.p-navbar {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  align-items: center;
  margin-left: 30%;
  margin-right: 30%;
}

.l-navbar a {
  font-family: Helvetica;
  text-decoration: none;
  color:#a3a3a3;
}
.l-navbar a:hover {
  background-color: red;
}

.l-home-spacer {
  height: 12em;
}
.l-upper-columns{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  margin-left: 5%;
  margin-right: 5%;
}

.l-upper-columns p{
 margin-left: 2%;
 margin-right: 2%;
}

 /* Reset the default appearance from CSS tricks */
progress[value] {
  -webkit-appearance: none;

  width: 550px;
  height: 20px;
}

progress::-webkit-progress-bar {
  background: gray;
}

progress::-webkit-progress-value {
  background: #fd6632;
}

.about-button{
  text-align: center;
  display: block;
  padding-bottom: 3em;
}

.about-button button{
  background-color: #fd6632;
  color: #fff;
  border: 0;
  padding: 5px 30px 5px 30px;
}

l-icon-outer {
  position: relative;
  margin: auto;
  border-radius: 50%;
  border: 0%;
  height: 150px;
  width: 150px;
  background-color: orange;
}
.l-droplet-icon {
  position: absolute;
  left: 20px;
  top: 20px;
  margin: auto;
  width: 35px;
  height: 35px;
  overflow: hidden;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  -webkit-transform:rotate(-45deg);
  z-index: 99;
  background: white;
}
.l-droplet-icon-interior {
  position: absolute;
  left: 5px;
  top: 5px;
  margin: auto;
  width: 25px;
  height: 25px;
  overflow: hidden;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  z-index: 150;
  background: orange;
}
.l-services-list {
  display: inline-block;
}
.l-services-item {
  width: 20%;
  margin-left: 5%;
  margin-right: 5%;
  display: inline-block;
}
.p-pricing-tables {
  font-size: 1em;
  margin-top: 2.5%;
  margin-bottom: 5%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  width: 15%;
  display: inline-block;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  line-height: 3;
  font-size: 24px;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
