@charset "UTF-8";
body {
  font-family: "Droid sans", sans-serif;
  text-align: center; }

a {
  text-decoration: none; }

ul {
  list-style: none;
  padding: 0; }

h2 {
  font-size: 1.6em; }

h3 {
  font-size: 1.0em; }

p {
  font-size: 1em; }

footer h1 {
  margin: .9px; }

.icon-menu {
  width: 100%;
  text-align: center; }
  .icon-menu:before {
    content: "\e608"; }

 
.mobile-menu ul {
  width: 95.5%;
  background: #a3a3a3; }

.menu {
  background: #a3a3a3; }

.mobile-menu li a {
  font-family: Helvetica;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px; }

.mobile-menu input[type=checkbox] {
  display: none; }

.p-home {
  background-image: url("https://i.imgur.com/oVRIX4Z.png"); }

.p-logo-1 {
  border-radius: 50%;
  background-color: #fc6432; }

.p-logo-2 {
  position: absolute;
  left: 25px;
  top: 25px;
  margin: auto;
  width: 25px;
  height: 25px;
  overflow: hidden;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  -webkit-transform: rotate(-45deg);
  z-index: 99;
  background: #fff; }

.p-logo-3 {
  position: absolute;
  left: 2.5px;
  top: 2px;
  margin: auto;
  width: 20px;
  height: 20px;
  overflow: hidden;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  z-index: 150;
  background: #fc6432; }

.p-home-text {
  font-weight: lighter; }

.p-home-text span {
  text-decoration: underline;
  color: #fc6432; }

.p-divet {
  width: 0;
  height: 0;
  border-top: 20px solid #fc6432;
  border-left: 80px solid transparent;
  border-right: 80px solid transparent;
  margin: auto; }
  .p-services .p-divet, .p-about .p-divet, .p-contact .p-divet {
    border-top: 20px solid #fff; }
  .p-team .p-divet {
    border-top: 20px solid #000; }

.p-title {
  color: #000;
  text-transform: uppercase; }

.p-title-line {
  border-bottom: 1px #fff solid;
  width: 15%; }
  .p-portfolio .p-title-line, .p-team .p-title-line {
    border-bottom: 1px #a3a3a3 solid; }

.p-subtitle-line {
  border-bottom: 1px #fff solid;
  width: 10%; }
  .p-portfolio .p-subtitle-line, .p-team .p-subtitle-line {
    border-bottom: 1px #a3a3a3 solid; }

.p-team h4 {
  color: #fc6432; }

.p-client-carousel-button {
  border-radius: 50%;
  background-color: #fc6432; }

.p-client-link {
  color: #fff; }

.p-services {
  background-color: #fc6432;
  color: #fff;
  padding-bottom: 10%; }

.p-services figcaption {
  font-size: 1em; }

.p-service-logo {
  background-color: #fff;
  border-radius: 50%; }

.big-little-slider {
  content: url("http://i.imgur.com/lRzimnO.png"); }

.p-about {
  color: #fff;
  background-color: #000; }

.p-team {
  color: #999f9f; }

.p-contact {
  background-color: #fc6432;
  color: #fff; }

.p-contact-form {
  background-color: #7f331b; }

::-webkit-input-placeholder {
  color: #fff; }

:-moz-placeholder {
  color: #fff;
  opacity: 1; }

::-moz-placeholder {
  color: #fff;
  opacity: 1; }

::-ms-input-placeholder {
  color: #fff; }

.p-author {
  color: #fc6432; }

body {
  box-sizing: border-box;
  margin: 0 2% 2% 0; }

.l-portfolio {
  padding-top: 2.5em;
  padding-bottom: 2.5em; }

.icon-menu {
  display: inline-block; }

.mobile-menu {
  position: absolute; }

.mobile-menu li a {
  display: block;
  padding-bottom: 2em; }

.mobile-menu ul {
  display: none;
  z-index: 100; }

.l-home {
  padding-top: 10em;
  padding-bottom: 10em; }

.l-logo {
  position: relative;
  margin: auto;
  margin-bottom: 10%;
  height: 75px;
  width: 75px; }

.l-home-spacer {
  height: 4em; }

.p-home-text {
  margin: auto;
  width: auto; }

.p-title {
  padding-left: 4%;
  padding-right: 4%; }

.l-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.l-team-member {
  margin-bottom: 10%; }

.l-client-carousel-button {
  position: relative;
  height: 40px;
  width: 40px;
  margin: auto; }

.p-client-link {
  position: absolute;
  top: 10px;
  left: 15px; }

.p-services figcaption {
  margin: auto;
  width: 100%; }

.l-service-logo {
  position: relative;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 10%;
  height: 75px;
  width: 75px; }

.big-little-slider {
  display: block;
  margin: auto; }

.l-contact-blurb {
  margin: auto;
  padding-left: 10%;
  padding-right: 10%; }

.l-contact-form {
  position: relative;
  display: inline-block;
  width: 90%;
  margin: 5%; }

.l-contact-form input, .l-contact-form textarea {
  border: 0px;
  margin-bottom: 5px;
  margin-right: 0;
  width: 100%; }

.l-contact-input-company {
  height: 40px; }

.l-contact-input-email {
  height: 40px; }

.l-contact-input-message {
  height: 150px; }

.l-contact-map {
  position: relative;
  display: inline-block;
  width: 90%;
  margin: auto; }

.l-contact-map img {
  width: 100%;
  margin: 15% 5% 10% 5%; }

.mobile-menu input[type=checkbox]:checked ~ .menu {
  display: block; }

@media only screen and (min-width: 568px) {
  .mobile-menu ul {
    margin-top: 0;
    padding-top: 1%;
    width: 100%;
    /*padding-left: 18%;*/
    padding-bottom: .5%;
    display: inline-block;
    border-bottom: 2px solid #999f9f;
    left: 0; }
  .menu {
    /*padding-left: 15%;*/
    /*padding-right: 15%;*/
    position: fixed; }
  .moblie-mebue li:hover {
    background-color: #fc6432; }
  .mobile-menu li a {
    color: #999f9f;
    font-size: 16px; }
  .icon-menu {
    display: none; }
  .big-little-slider {
    content: url("https://i.imgur.com/5Js2v9g.png"); }
  .l-navbar a {
    color: #a3a3a3; }
  .p-logo-2 {
    background: #fff; }
  .p-logo-3 {
    background: #fc6432; }
  .p-pricing-tables {
    font-size: 1em; } }

@media only screen and (min-width: 568px) {
  .mobile-menu ul {
    background-color: #fff; }
  .mobile-menu li {
    display: inline-block; }
  .mobile-menu li a {
    padding: 5px 50px 5px 50px; }
  .p-navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    align-items: center;
    margin-left: 30%;
    margin-right: 30%; }
  .l-home-spacer {
    height: 12em; }
  .l-upper-columns {
    width: 30%;
    margin-left: 5%;
    margin-right: 5%;
    display: inline-block; }
  .l-about-columns {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin-left: 5%;
    margin-right: 5%; }
  .l-about-columns p {
    margin-left: 2%;
    margin-right: 2%; }
  .p-logo-2 {
    position: absolute;
    left: 20px;
    top: 20px;
    margin: auto;
    width: 35px;
    height: 35px;
    overflow: hidden;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
    -webkit-transform: rotate(-45deg);
    z-index: 99; }
  .p-logo-3 {
    position: absolute;
    left: 5px;
    top: 5px;
    margin: auto;
    width: 25px;
    height: 25px;
    overflow: hidden;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
    z-index: 150; }
  .l-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  .l-services-list {
    display: inline-block; }
  .l-services-item {
    width: 23%;
    margin-left: 2%;
    margin-right: 2%;
    display: inline-block; }
  .l-team {
    display: inline-block;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0; }
  .l-team-member {
    display: inline-block;
    width: 20%;
    margin-left: 1.5%;
    margin-right: 1.5%; }
  .l-team-member img {
    margin-top: 10%;
    margin-bottom: 10%; }
  .l-client-inline {
    display: inline-block;
    margin: 0; }
  .l-client-carousel-button {
    display: inline-block;
    margin-left: 3%;
    margin-right: 3%; }
  .l-client-carousel-button {
    display: inline-block;
    margin-left: 3%;
    margin-right: 3%; }
  .l-client-figure {
    display: inline-block;
    width: 70%;
    margin: 3%; }
  .l-client-figure img {
    display: inline-block; }
  .l-client-figure-txt {
    width: 70%;
    display: inline-block; }
  .l-client-caption {
    display: block; }
  .l-client-headline, .l-client-subheading {
    display: inline-block; }
  .l-client {
    display: inline-block; }
  .l-contact-blurb {
    margin: auto;
    padding-left: 10%;
    padding-right: 10%; }
  .l-contact-form {
    width: 460px;
    height: 293px;
    margin: 40px 0 40px 126px; }
  .l-contact-form input, .l-contact-form textarea {
    border: 0px;
    margin: 5px;
    margin-right: 0;
    width: 100%; }
  .l-message-button {
    position: absolute;
    width: 25%;
    font-size: .5em;
    right: 0; }
  .l-contact-map {
    margin-left: 10px;
    margin-right: 0;
    margin-top: 60px;
    width: auto; }
  .l-contact-map img {
    width: 460px;
    height: 268px;
    margin: 0; }
  .l-client-link {
    display: inline-block;
    margin-left: 3%;
    margin-right: 3%; }
  .l-client-figure {
    display: inline-block;
    width: 70%;
    margin: 3%; }
    .l-client-figure img {
      display: inline-block; }
  .l-client-figure-txt {
    width: 70%;
    display: inline-block; }
  .l-client-caption {
    display: block; }
  .l-client-headline, .l-client-subheading {
    display: inline-block; }
  .l-client {
    display: inline-block; } }

.p-pricing-tables {
  font-family: "Lato";
  font-size: 1em;
  background-color: #fc6432;
  color: #000;
  border-bottom: 1px; }
  .p-pricing-tables li {
    background-color: #fff;
    border-bottom: solid #7f331b 2px; }
  .p-pricing-tables li:nth-child(1) {
    background-color: #7f331b;
    font-weight: bolder;
    color: #fff; }
  .p-pricing-tables li:nth-child(2) {
    color: #fc6432;
    font-weight: bolder; }
  .p-pricing-tables div:last-child {
    height: 3em;
    background-color: #be4c27; }
  .p-pricing-tables a {
    background-color: #fc6432;
    color: #fff; }

.p-pricing-tables {
  margin-top: 0;
  margin-bottom: 10%;
  margin-left: 10%;
  margin-right: 10%;
  padding-left: 0; }

.p-pricing-tables div:last-child {
  padding-top: .75em; }

.p-pricing-tables a {
  padding: 0.4em 10% 0.4em 10%; }

.l-pricing-tables {
  margin-bottom: 0; }

@media only screen and (min-width: 568px) {
  .p-pricing-tables {
    margin: 2.5% 5% 2.5% 2.5%;
    width: 15%;
    display: inline-block; } }

.l-about-bars {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start; }
  .l-about-bars li {
    text-align: left;
    padding-top: .5em; }

progress[value] {
  -webkit-appearance: none;
  width: 250px;
  height: 20px; }
  progress[value]::-webkit-progress-bar {
    background: #3a3a3a; }
  progress[value]::-webkit-progress-value {
    background: #fc6432; }
  @media only screen and (min-width: 568px) {
    progress[value] {
      -webkit-appearance: none;
      width: 550px;
      height: 20px; } }

.button {
  background-color: #fc6432;
  color: #fff;
  border: 0;
  padding: 10px 40px 10px 40px;
  font-size: .5em; }
  .button:hover {
    background-color: #7f331b;
    color: #fc6432; }
  .button.contact-button {
    background-color: #fff;
    color: #fc6432;
    padding: 10px 60px 10px 60px; }
    .button.contact-button:hover {
      background-color: #7f331b;
      color: #fff; }

.l-message-button {
  margin-right: 9%; }

.grid {
  margin-top: 2em; }
  .grid .grid-sub {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    align-items: center; }
    .grid .grid-sub li {
      justify-content: center;
      margin-bottom: 1.5em; }
    .grid .grid-sub h4 {
      margin: .5em; }
    .grid .grid-sub p {
      margin: .5em; }

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: center; }
  .flex a {
    padding: 10px;
    font-size: 1em;
    color: #a3a3a3; }

@font-face {
  font-family: 'avengers-icons';
  src: url("fonts/icomoon.eot?-lo05z1");
  src: url("fonts/icomoon.eot?#iefix-lo05z1") format("embedded-opentype"), url("fonts/icomoon.ttf?-lo05z1") format("truetype"), url("fonts/icomoon.woff?-lo05z1") format("woff"), url("fonts/icomoon.svg?-lo05z1#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'avengers-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 3;
  font-size: 24px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.p-services [class^="icon-"], [class*=" icon-"] {
  background-color: #fff;
  color: #000;
  margin: auto; }

.icon-google-plus {
  background-color: #dd4b39; }
  .icon-google-plus:before {
    content: ""; }

.icon-facebook {
  background-color: #3b5998; }
  .icon-facebook:before {
    content: ""; }

.icon-twitter {
  background-color: #00aced; }
  .icon-twitter:before {
    content: ""; }

.icon-dribbble {
  background-color: #ea4c89; }
  .icon-dribbble:before {
    content: ""; }

.icon-linkedin2 {
  background-color: #007bb6; }
  .icon-linkedin2:before {
    content: ""; }

.icon-paint-format {
  background-color: #000000; }
  .icon-paint-format:before {
    content: ""; }

.icon-cog {
  background-color: #000000; }
  .icon-cog:before {
    content: ""; }

.icon-lab {
  background-color: #000000; }
  .icon-lab:before {
    content: ""; }

.icons {
  margin: auto;
  margin-bottom: 10%;
  width: 100%;
  text-align: center; }
  .icons span {
    color: #fff;
    display: inline-block;
    -webkit-transition: -webkit-transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out;
    line-height: 1; }
    .icons span:hover {
      border: #fff;
      -webkit-transform: scale(1.25, 1.25);
      transform: scale(1.25, 1.25);
      transition: .25s ease-in-out; }
