// Button
.button {
  background-color: $A-avengers-color;
  color: $B-avengers-color;
  border: 0;
  padding: 10px 40px 10px 40px;
  font-size: .5em;
  &:hover {
    background-color: $D-avengers-color;
    color: $A-avengers-color;
  }
}
.contact-button{
  padding: 10%;
  border: 0;
  background-color: $B-avengers-color;
  color: $A-avengers-color;
  &:hover {
    background-color: $E-avengers-color;
    color: $B-avengers-color;
  }
}
.l-message-button {
  position: absolute;
  width: 25%;
  margin: auto;
}
