$break: 667px;

$maverick: #fd6632;
$goose: #0b9ce0;
$iceman: #ffffff;
$viper: #252629;
$hollywood: #7e3218;


$iconLarge: (cog  "\e600") (lab  "\e601") (brush  "\e602");
$iconSmall: (pin  "\e603") (mail  "\e604") (mobile  "\e605");
$iconSocial: (google-plus #fabc00 "\e608") (facebook #3b5998 "\e609") (twitter #00aced "\e60a") (dribbble #dd2667 "\e60b") (linkedin #007bb5 "\e60c");
$arrows: (arrowRight left 3 "\e606") (arrowLeft right 1 "\e607");
