@media only screen and (min-width: 568px) {
// .mobile-menu ul {
//   margin-top: 0;
//   padding-top: 1%;
//   width: 100%;
//   /*padding-left: 18%;*/
//   padding-bottom: .5%;
//   display: inline-block;
//   border-bottom: 2px solid #999f9f;
//   left: 0;
// }
// .menu{
//   /*padding-left: 15%;*/
//   /*padding-right: 15%;*/
//   position: fixed;
// }
// .moblie-mebue li:hover {
//   background-color: $A-avengers-color;
// }
// .mobile-menu li a {
//   color:  #999f9f;
//   font-size: 16px;
// }
// .icon-menu {
//   display: none;
// }
.big-little-slider {
  content: url("https://i.imgur.com/5Js2v9g.png");
}
.l-navbar a {
  color: #a3a3a3;
}
.p-logo-2 {
  background: $B-avengers-color;
}
.p-logo-3 {
  background: $A-avengers-color;
}
.p-pricing-tables {
  font-size: 1em;
}

}
