@media only screen and (min-width: 568px) {
  .l-navbar a {
    color: #a3a3a3;
  }
  .p-logo-2 {
    background: $B-avengers-color;
  }
  .p-logo-3 {
    background: $A-avengers-color;
  }
  .p-pricing-tables {
    font-size: 1em;
  }
}