// Grid display
.grid {
  margin-top: 2em;
  .grid-sub {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    align-items: center;
    li {
      justify-content: center;
      margin-bottom: 1.5em;
    }
    h4 {
      margin: .5em;
    }
    p {
      margin: .5em;
    }
  }
}
