// Grid display
.flex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  align-items: center;
  li {
    justify-content: center;
    margin-bottom: 4em;
  };
}
