body {
  box-sizing: border-box;
  margin-top: 0;
}
.flex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  align-items: center;
  &.portfolio_pieces{
    justify-content: center;
    margin-bottom: 4em;
  };
  &.port-navbar {
    margin-left: 30%;
    margin-right: 30%;
    a {
      display: inline-block;
    }
  };
}
// mobile nav
.icon-menu {
  display: inline-block;
}
.mobile-menu {
  position: absolute;
}
.mobile-menu li a {
  display:block;
  padding-bottom: 2em;
}
.mobile-menu ul {
  display: none;
  z-index: 100;
}
.l-home {
  padding-top: 10em;
  padding-bottom: 10em;
}
.p-home {
  position: relative;
}
// .l-logo {
//   position: relative;
//   margin: auto;
//   margin-bottom: 10%;
//   height: 75px;
//   width: 75px;
// }
.l-home-spacer {
  height: 4em;
}
.p-home-text {
  margin: auto;
  width: auto;
}
.l-pricing-tables {
  margin-bottom: 0;
}
.p-title {
  padding-left: 4%;
  padding-right: 4%;
}

.l-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
// .l-team-member {
//   margin-bottom: 10%;
// }
.l-client-carousel-button {
  position: relative;
  height: 40px;
  width: 40px;
  margin: auto;
}
.p-client-link {
  position: absolute;
  top: 10px;
  left: 15px;
};
.p-services figcaption {
  margin: auto;
  width: 100%;
}
.l-service-logo {
  position: relative;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 10%;
  height: 75px;
  width: 75px;
}
// .p-pricing-tables {
//   margin-top: 0;
//   margin-bottom: 0;
//   margin-left: 10%;
//   margin-right: 10%;
//   padding-bottom: 10%;
//   padding-left: 0;
// }
// .p-pricing-tables div:last-child {
//   padding-top: .75em;
// }
// .p-pricing-tables a {
//   padding: .4em 10% .4em 10%;
// }
.big-little-slider {
  display: block;
  margin: auto;
}
.protfolio_pieces {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  margin-bottom: 4em;
}
// .l-about-bars {
//   display: flex;
//   flex-wrap: nowrap;
//   justify-content: center;
//   align-items: flex-start;
// }
// .l-about-bars li {
//   padding-top: .5em;
// }
// .l-about-button {
//   display: block;
//   padding-bottom: 3em;
// }
// .p-about-button {
//   padding: 10px 40px 10px 40px;
// }
.l-contact-blurb {
  margin: auto;
  padding-left: 10%;
  padding-right: 10%;
}
.l-contact-form {
  position: relative;
  display: inline-block;
  width: 90%;
  margin: 5%;
}
.l-contact-form input, .l-contact-form textarea {
  border: 0;
  margin-bottom: 5px;
  margin-right: 0;
  width: 100%;
}
.l-contact-input-company {
  height: 40px;
}
.l-contact-input-email {
  height: 40px;
}
.l-contact-input-message {
  height: 150px;
}
// .l-message-button {
//   position: absolute;
//   width: 25%;
//   margin: auto;
// }
.l-contact-map {
  position: relative;
  display: inline-block;
  width: 90%;
  margin: auto;
}
.l-contact-map img {
  width: 100%;
  margin: 15% 5% 10% 5%;
}
// .p-button-holder {
//   padding: 2.5%;
// }
