.nav-toggle {
  position: fixed;
  left: 0;
  width: 1em;
  height: 1.25em;
  font-size: 2em;
  margin: .5em;
  transition: left 0.3s ease;
  z-index: 2;
  &:before {
    content: '☰';
  }
  @media only screen and (min-width: $break) {
  display: none;
  }
}

.trigger {
  position: fixed;
  top: 0;
  left: 15em;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
  @media only screen and (min-width: $break) {
    display: none;
  }
}

[data-container="navigation"] {
  position: fixed;
  left: -15em;
  width: 15em;
  height: 100%;
  background: #2e2e2e;
  opacity: .95;
  transition: left 0.3s ease;
  @media only screen and (min-width: $break) {
    left: 0em;
    width: 100%;
    height: 3.5em;
    background: #ffffff;
    opacity: 1;
    z-index: 5;
  }
}

.page-wrapper {
  transition: right .3s ease;
}

.mobile-nav-toggle {
  display: none;
  &:checked {
    ~ [data-container="navigation"] {
    left: 0;
    }
    ~ .icon-menu {
    left: 15em;
    }
    ~ .trigger {
    pointer-events: auto;
    }
    ~ .page-wrapper {
    right: -15em;
    }
  }
}

.nav-link {
  padding-top: 1.5em;
}

@media only screen and (min-width: $break) {
  .main-nav {
    display: block;
  }

  .nav-link {
    display: inline-block;
    text-align: center;
    padding-top: 0;
    padding: 0 1%;
  }
}
