.l-order-form {
  display: none;
  margin-left: 2.5%;
}
.l-order-form input {
  border: 0;
  display: block;
  width: 75%;
  margin: auto;
  height: 40px;
  margin-bottom: 5px;
  @media only screen and (min-width: 568px) {
    width: 25%;
    margin-left: 2.5%;
  }
}
.l-order-button {
  position: relative;
  height: 3em;
  width: 75%;
  margin: auto;
  background-color: $F-avengers-color;
  padding-top: .75em;
  border: 2px solid $E-avengers-color;
  @media only screen and (min-width: 568px) {
    width: 25%;
    margin-left: 2.5%;
    }
}
