$A-avengers-color: #fc6432;
$B-avengers-color: #fff;
$C-avengers-color: #a3a3a3;
$D-avengers-color: #7f331b;
$E-avengers-color: #3a3a3a;
$F-avengers-color: #be4c27;

body {
  font-family: "Droid sans", sans-serif;
  text-align: center;
}
a {
  text-decoration: none;
}
ul{
  list-style: none;
  padding: 0;
}
footer {
  margin: .9px;
}
.p-home {
  background-image: url("https://i.imgur.com/oVRIX4Z.png");
}
.p-home-text {
  font-weight: lighter;
}
.p-home-text span {
  text-decoration: underline;
  color: $A-avengers-color;
}
.p-divet {
 width: 0;
 height: 0;
 border-top: 20px solid $A-avengers-color;
 border-left: 80px solid transparent;
 border-right: 80px solid transparent;
 margin: auto;
 .p-services &, .p-about &, .p-contact & {
   border-top: 20px solid $B-avengers-color;
 }
 .p-team & {
   border-top: 20px solid #000;
 }
}
.p-title {
  color: #000;
  text-transform: uppercase;
}
.p-title-line {
  border-bottom: 1px $B-avengers-color solid;
  width: 15%;
  .p-portfolio &, .p-team & {
    border-bottom: 1px $C-avengers-color solid;
  }
}
.p-subtitle-line {
  border-bottom: 1px $B-avengers-color solid;
  width: 10%;
  .p-portfolio &, .p-team & {
    border-bottom: 1px $C-avengers-color solid;
  }
}
.p-team h4 {
color: $A-avengers-color;
}
.p-client-carousel-button {
  border-radius: 50%;
  background-color: $A-avengers-color;
  &:hover {
    background-color: $D-avengers-color;
  }
}
.p-client-link {
  color: $B-avengers-color;
}
.p-services {
  background-color: $A-avengers-color;
  color: $B-avengers-color;
  // font-size: 1em;
  padding-bottom: 10%;
}
.p-services figcaption {
  font-size: 1em;
}
.p-service-logo {
  background-color: $B-avengers-color;
  border-radius: 50%;
}

.big-little-slider {
  content: url("http://i.imgur.com/lRzimnO.png")
}
.p-about {
  padding-bottom: 10em;
  color: $B-avengers-color;
  background-color: #000;
}
.p-team {
  color: #999f9f;
}
.p-contact {
  background-color: $A-avengers-color;
  color: $B-avengers-color;
}
.p-contact-form {
  background-color: #7f331b;
}
::-webkit-input-placeholder {
  color: $B-avengers-color;
}
:-moz-placeholder {
  color: $B-avengers-color;
  opacity: 1;
}
::-moz-placeholder {
  color:  $B-avengers-color;
  opacity: 1;
}
::-ms-input-placeholder {
  color: $B-avengers-color;
}
.p-author {
  color: $A-avengers-color;
}

