// Progress bar
// Layout
.l-about-bars {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  & li {
    text-align: left;
    padding-top: .5em;
  }
}
// Mobile presentation
.graphHide {
  -webkit-appearance: none;
  width: 250px;
  height: 20px;
  &::-webkit-progress-bar {
    background: $E-avengers-color;
  }
  &::-webkit-progress-value {
    background: $E-avengers-color;
  }
}

.graphshow {
  -webkit-appearance: none;
  width: 250px;
  height: 20px;
  &::-webkit-progress-bar {
    background: $E-avengers-color;
  }
  &::-webkit-progress-value {
    background: $A-avengers-color;
  }
}
// // Desktop presentation
//   @media only screen and (min-width: 568px) {
//       -webkit-appearance: none;
//       width: 550px;
//       height: 20px;
//   }
  // }
