@import "presentation.scss";
@import "layout.scss";
@import "function.scss";
@import "desktop-presentation.scss";
@import "desktop-layout.scss";
@import "progress-bar.scss";
@import "button.scss";
@import "grid-display.scss";
@import "basic-nav.scss";

@font-face {
  font-family: 'avengers-icons';
  src: url('fonts/icomoon.eot?-lo05z1');
  src: url('fonts/icomoon.eot?#iefix-lo05z1') format('embedded-opentype'),
    url('fonts/icomoon.ttf?-lo05z1') format('truetype'),
    url('fonts/icomoon.woff?-lo05z1') format('woff'),
    url('fonts/icomoon.svg?-lo05z1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  font-family: 'avengers-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 3;
  font-size: 24px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.p-services [class^="icon-"], [class*=" icon-"] {
  background-color: $B-avengers-color;
  color: #000;
  margin: auto;
}
$icons:
  (google-plus '\e600' #dd4b39)
  (facebook '\e601' #3b5998)
  (twitter '\e602' #00aced)
  (dribbble '\e603' #ea4c89)
  (linkedin2 '\e604' #007bb6)
  (paint-format '\e605' #000000)
  (cog '\e606' #000000)
  (lab '\e607' #000000);

@each $icon in $icons {
  .icon-#{nth($icon, 1)} {
      @extend %ico-font-base;
      background-color: nth($icon, 3);
    &:before {
      content: nth($icon, 2);
    }
  }
}

.icons {
  margin: auto;
  margin-bottom: 10%;
  width: 100%;
  text-align: center;
  span {
    color: $B-avengers-color;
    display: inline-block;
    -webkit-transition: -webkit-transform .25s ease-in-out;
    transition: transform .25s ease-in-out;
    line-height: 1;
    &:hover {
      border: $B-avengers-color;
      -webkit-transform: scale(1.25,1.25);
      transform: scale(1.25,1.25);
      transition: .25s ease-in-out;
    }
  }
}

















































