ul,li {
  list-style-type:none;
  margin:0;
  padding:0;
}

.menu {
  width:200px;
  background:#c0c0c0;
}

.menu ul {
  display:none;
}


.menu li {
  display:block;
  height:30px;
  border:solid 1px #000;
  line-height:30px;
  padding:0 0 0 10px;
}

.menu:hover ul {
  display:block;
}


@media all and (min-width: 600px) {
  .menu {
    width:100%;
    background:#909090;
  }
  .title {display:none;}

  .menu ul {
    display:block;
    height:40px;
  }

  .menu li {
    float:left;
    padding:0 30px;
    height:40px;
    line-height:40px;
    border:0;
}







