.icon-l{
    display:inline-block;
  }

nav ul, nav:active ul {
  display: none;

}

nav li {
  text-decoration: none;
  text-align: left;
  width: 100%;
  padding: 10px 0;
  }

nav:hover ul {

    display: block;

  }

@media only screen and (min-width : 568px) {

  .icon-list{
  display: none;
}

nav ul {
  list-style: none;
  display: inline;
}

nav ul, nav:active ul {
  display: inline-block;
  float: left;

}
}
