@font-face {
  font-family: 'icomoon';
  src:url('fonts/icomoon.eot?66riq4');
  src:url('fonts/icomoon.eot?#iefix66riq4') format('embedded-opentype'),
    url('fonts/icomoon.ttf?66riq4') format('truetype'),
    url('fonts/icomoon.woff?66riq4') format('woff'),
    url('fonts/icomoon.svg?66riq4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-list:before {
  content: "\e600";
}
.icon-list2:before {
  content: "\e601";
}
.icon-menu:before {
  content: "\e";
}
.icon-menu2:before {
  content: "\e602";
}
.icon-menu3:before {
  content: "\e603";
}
.icon-menu4:before {
  content: "\e604";
}
