.p-title-line{
    border-bottom: 1px orange solid;
    width: 25%;
}

.p-title {
  text-transform: uppercase;
  padding-left: 4%;
  padding-right: 4%;
}


.l-title{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
