@mixin headings($size) {
  font-size: $size;
  font-weight: 700;
  text-transform: uppercase;
}

@mixin heavy($size) {
  font-size: $size;
  font-weight: 700;
}

@mixin light($size) {
  font-size: $size;
  font-weight: 300;
}

@mixin horizontal-rule($background) {
  background-color: $background;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}
