@mixin button($background, $color) {
  box-shadow: none;
  border: none;
  text-decoration: none;
  background-color: $background;
  color: $color;
  padding: .3em 1em;
  margin: .3em auto;
  &:hover {
  background-color: $primary-accent-color;
  }
}

.btn-small {
  @include heavy(.65em);
  @include button($primary-color, $secondary-color);
}

.btn-med {
  @include heavy(.65em);
  @include button($primary-color, $secondary-color);
  padding: 1em;
  font-size: .65em;
  height: 3em;
}

.btn-large {
  @include heavy(.65em);
  @include button($secondary-color, $secondary-accent-color);
  font-weight: 300;
  height: 3em;
  &:hover {
    color: $secondary-color;
  }
}
