.subnav-link {
  width: 60%;
  margin: .3em auto;
  @media only screen and (min-width: 667px) {
    display: inline-block;
    width: auto;
    padding: 1%;
  }
}

.active {
  color: $iceman;
  background-color: $maverick;
}

.hidden {
  display: none;
}
