%table-cells {
  padding: .25em 1em;
  margin: .8em auto;
}

th {
  @extend %table-cells;
  @include light(1.75rem);
  background-color: $secondary-accent-color;
  font-size: 1.75rem;

  @media only screen and (min-width: $break) {
    font-size: 1.25em;
    margin: 1em auto;
  }
}

@media only screen and (min-width: $break) {
  tr {
    height: 2.5em;
  }
}

td {
  @extend %table-cells;
  background-color: $secondary-color;
  color: #2e2e2e;
  font-size: 1.5em;

  tfoot & {
    background-color: #be4c25;
  }

  @media only screen and (min-width: $break) {
    font-size: 1em;
  }
}


