[data-collection="portfolio"],
[data-collection="team"] {
  background-color: $secondary-color;
}

[data-container="about"] {
  background-color: $alternate-color;
  color: $secondary-color;
}

[data-collection="services"], [data-collection="contact"] {
  background-color: $primary-color;
  color: $secondary-color;
}
