.hero-image {
  padding: 11em 8% 15em 8%;

  @media only screen and (min-width: $break) {
    padding: 16% 8%;
    background: url("/img/background.png") no-repeat;
    background-size: 100% 100%;
    position: relative;
  }
}
